absl-py==0.13.0
astor==0.8.1
cached-property==1.5.2
cloudpickle==1.6.0
colorama==0.4.4
decorator==4.4.2
ffmpeg==1.4
gast==0.2.2
google-pasta==0.2.0
grpcio==1.39.0
h5py==3.3.0
importlib-metadata==4.6.1
install==1.3.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
networkx==2.5.1
numpy==1.19.5
opencv-python==4.5.3.56
opt-einsum==3.3.0
Pillow==8.3.1
protobuf==3.17.3
PyWavelets==1.1.1
scikit-image==0.14.5
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tqdm==4.61.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
